@font-face {
    font-family: RiseOfKingdom;
    src: url(RiseOfKingdom.ttf);
}

body {
    font-family: RiseOfKingdom;
}

.slides {
    height: 90vh;
}

.slide-download {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 3rem;
}

.container {
    display: inline !important;
}

.card {
    padding: 0.1rem;
    width: 40vw;
}

.col {
    display: inline-block !important;
    margin-top: 1rem !important;
}